<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Prometeo chatbot</title>
    <link rel="stylesheet" href="{% static 'chatbot/chat.css' %}">
</head>

<body>
<div id="top-banner">
    <a id="prometeo-link" href="https://prometeoapi.com/">
        <img id="prometeo-logo" src="{% static 'chatbot/images/prometeo.png' %}">
    </a>
    <a id="logout" href="{% url 'chatbot:logout' %}">{% translate "Logout" %}</a>
</div>
<div class="chat-box">
    <div id="chat-history" class="content-box">
        {% for message in message_history.messages %}
        <div class="message {{ message.sender }}">{{ message.content }}</div>
        {% endfor %}
        <div id="end-marker"></div>
    </div>
    <form id="chat-form" class="chat-form" action="{% url 'chatbot:chat' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input id="submit" type="submit" class="button --round" value=">">
    </form>
</div>
<script src="{% static 'chatbot/main.js' %}"></script>
<script src="{% static 'chatbot/chat.js' %}"></script>
</body>

</html>