<!DOCTYPE html>
{% load i18n %}
<html>

    <head>
        <meta charset="utf-8">
        <title>Prometeo chatbot - login</title>
    </head>

    <body>
        <h1>Prometeo Chatbot</h1>
        <div>
            <a id="new_account" class="button" href="https://prometeoapi.com/accounts/create/">{% translate "Create a Prometeo account..." %}</a>
            <a id="guest_account" class="button" href="chatbot">{% translate "Try Prometeo Open Banking without an account!" %}</a>
        </div>
    </body>

</html>