<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Prometeo chatbot - login</title>
    <link rel="stylesheet" href="{% static 'chatbot/main.css' %}">
</head>

<body>
<div id="top-banner">
    <a id="prometeo-link" href="https://prometeoapi.com/">
        <img id="prometeo-logo" src="{% static 'chatbot/images/prometeo.png' %}">
    </a>
</div>
<div class="content-box menu">
    <div class="info message">{% translate "Hi! To play with Prometeo chatbot you must log in first:" %}</div>
    <a id="login" class="button info message">{% translate "I already have a Prometeo account!" %}</a>
    <a id="guest" class="button info message">{% translate "I still don't have a Prometeo account..." %}</a>
</div>
</body>

</html>