 @import "main.css";

 :root {
    --chat-width: 50vw;
    --chat-height: 80%;
}


#logout {
    color: var(--link-color);
    font-size: calc(2 * var(--font-size));
    margin: 0.5em;
    text-decoration: none;
}

.chat-box {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
    width: var(--chat-width);
    height: var(--chat-height);
}

.bot {
    align-self: flex-start;
    background: var(--bot-color);
}

.user {
    align-self: flex-end;
    background: var(--user-color);
    text-align: right;
}

.chat-form {
    align-items: center;
    display: flex;
    margin: 3px;
}

#input-field {
    border: 1px solid #0000;
    border-radius: 10px;
    flex-grow: 1;
    font-size: var(--font-size);
    margin-right: 4px;
    padding: 6px;
}

#input-field:focus {
    box-shadow: 0 0 5px #00BEBE;
    border: 1px solid #00BEBE;
    outline: 0;
}

#submit {
    aspect-ratio: 1/1;
    background: var(--prometeo-red);
    font-size: var(--font-size);
    height: 100%;
}
