
:root {
    --default-radius: 1em;
    --font-size: 12pt;

    /* Colors */
    --prometeo-red: #F30A0A;
    --content-background: #DDDD;
    --bot-color: #99D6F0;
    --link-color: #EEE;
    --user-color: #FFCF99;
}

.--round {
    border-radius: 100%;
}


body {
    background: black url("images/background.png") no-repeat left center fixed;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: var(--font-size);
    height: calc(100vh - 16px);
    margin: 8px;
}


#top-banner {
    align-items: center;
    background: #000000AA;
    border-radius: 10px;
    display: flex;
}

#prometeo-link {
    flex: 0;
    margin-right: auto;
    object-fit: none;
}

#prometeo-logo {
    height: 3em;
}


.content-box {
    background: var(--content-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px;
}

.message {
    border-radius: var(--default-radius);
    margin: 0.2em;
    max-width: 80%;
    padding: 0.5em 1em;
    white-space: pre-wrap;
    word-wrap: anywhere;
}

.info {
    background: var(--bot-color);
    border-radius: var(--default-radius);
    padding: 1em;
    text-align: center;
}

.menu {
    align-items: center;
    flex-grow: 0;
}

.modal {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;

    display: flex;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: var(--content-background);
    border-radius: var(--default-radius);
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    margin: auto;
}

.modal-show {
    opacity: 1;
    visibility: visible;
}

.close.button {
    margin-left: auto;
    padding: 0;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    font-size: calc(2 * var(--font-size));
}

#login-form {
    display: flex;
}

.button {
    background: var(--prometeo-red);
    border: none;
    border-radius: var(--default-radius);
    cursor: pointer;
    text-align: center;
}

#input-field {
    border: 1px solid #0000;
    border-radius: 10px;
    flex-grow: 1;
    font-size: var(--font-size);
    margin-right: 4px;
    padding: 6px;
}

#input-field:focus {
    box-shadow: 0 0 5px #00BEBE;
    border: 1px solid #00BEBE;
    outline: 0;
}
